section {
    border: 0.1px solid black;
    min-height: 100%;
    text-align: center;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 columns */
    grid-template-rows: 4.20rem auto 3rem; /* 3 rows */

}

main {
    grid-column: span 12;
}


header, footer {
    grid-column: span 12;
}
