<div class="content wrapper">
    <div class="container-wrapper">
        <div class="container-left"> 
            <span class="btn btn-danger" (click)="initForm()">clear</span><br><br>
            <form #updateForm="ngForm">                
                <label for="title">Title</label>
                <input type="text" placeholder="'title'" value="{{currentNote.title}}"
                [(ngModel)]="currentNote.title" name="title">
                <br>
                <br>
                <label for="description">Description</label>
                <textarea min="3" placeholder="describe with words or picture" value="{{currentNote.description}}"
                [(ngModel)]="currentNote.description" name="description">
                </textarea>
                <br>   
                <button id="saveBtn" [disabled]="updateForm.untouched && !updateForm.dirty" (click)="updateNote(currentNote)">Update</button>
                <button id="saveBtn" [disabled]="updateForm.untouched && !updateForm.dirty" (click)="createNote()">Add Note</button>
            </form>
        </div>
        <h2 *ngIf="!notes.length">no Notes are avilabale</h2>
        <div *ngIf="notes.length" class="container">
           <div *ngFor="let note of notes">
                <h2>Title: {{note.title}} </h2>
                <br>
                <p>About: {{ note.description }}</p>
                <mat-icon (click)="onDeleteClicked(note)">delete</mat-icon>
            </div>
        </div>
    </div>
</div>
